.about-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 90px; /* Adjust the margin-top value to position it lower */
}

.about-go-back-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

.about-info-box {
  border: 1px solid #3498db;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-info-box h1 {
  color: #333;
}

.about-info-box p {
  color: #666;
}

.about-page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
}
