/* Main.css */

/* Styles for the search bar container */
.search {
  margin-top: 10px;
  margin-bottom: 20px; /* Add margin at the bottom to separate it from other content */
  position: relative;
}

.mic-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999; /* Set z-index to ensure the icon appears above the input field */
}
/* Styles for the search bar input */
.search input[type="text"] {
  width: 100%; /* Make the search bar input span the full width of its container */
  padding: 10px; /* Add padding for better appearance */
  font-size: 16px; /* Adjust font size */
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 4px; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.main-product-container {
  width: 80%;
  margin: auto;
}

/* Grid container for displaying cars */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Adjusted minmax() function */
  height: 100%;
}

/* Styles for grid items */
.grid-item {
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
  line-height: 1.2;
  cursor: pointer;
  max-width: 375px; /* Set a minimum width for grid items */
}

.grid-item p {
  text-align: left;
  margin: 0;
  display: flex;
  align-items: center;
}

.grid-item p span.key {
  color: #333;
  font-weight: bold;
  margin-right: 10px;
  width: 80px; /* Fixed width for key */
  display: inline-block; /* Ensures consistent width */
}

.grid-item p span.value {
  color: #1e1a1a;
  font-weight: normal;
  margin-top: 8px; /* Adjust margin top for more space */
  margin-bottom: 8px; /* Adjust margin bottom for more space */
  display: inline-block; /* Ensures proper alignment */
  width: calc(100% - 80px); /* Adjusts width to fill remaining space */
}

.grid-item div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%; /* Ensure image does not exceed grid item dimensions */
}

/* Styles for Buy Now button */
.grid-item button {
  background: #0682e8;
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.grid-item button:hover {
  background: #0c71d5; /* Dark blue color on hover */
}

.grid-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #f2f2f2; 
}

.main-buttons-row {
  display: flex;
  justify-content: space-between;
}

.main-wishlist-button {
  position: absolute; /* Position the button absolutely */
  top: 10px; /* Adjust the distance from the top */
  left: 10px; /* Adjust the distance from the left */
  z-index: 999; /* Set a higher z-index to ensure it appears above other elements */
}

.main-buy-now-button {
  margin-left: 10px;
  margin-top: 10px;
}

.main-cart-button {
  position: absolute; /* Position the button absolutely */
  bottom: 10px; /* Adjust the distance from the bottom */
  right: 10px; /* Adjust the distance from the right */
  z-index: 999; /* Set a higher z-index to ensure it appears above other elements */
}



@media only screen and (max-width: 768px) {
  .product-container {
    width: 90%;
  }
}

/* For smaller screens, adjust grid layout */
@media only screen and (max-width: 824px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px; /* Adjusted margin-top for smaller screens */
    grid-gap: 15px; /* Increase grid gap for more spacing between grid items */
  }

  .grid-item {
    width: calc(50% - 15px); /* Adjusted width to ensure two items fit within the screen width with the increased gap */
    max-width: none; /* Remove max-width to allow items to shrink */
    height: auto; /* Let the height be determined by content */
  }

  .grid-item img {
    max-height: 150px; /* Adjust maximum image height */
  }
}
