/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  margin-right: 10px;
}

.carlogoimage {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* This will make it a full circle */
}


.heading {
  font-size: 29px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  position: relative;
  margin-right: -95px; /* Adjust the margin-right as needed */
  color: #0682e8;
}

.heading::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%; /* Set the initial width to 100% */
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.heading:hover::after {
  width: 0; /* Change the width on hover to create the disappearing effect */
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0682e8; /* Change the color on hover if desired */
  transform: translateY(-2.55px);
}
