/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.carlogoimage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.heading {
  font-size: 24px;
  font-weight: 400; /* Normal font weight */
  font-style: italic;
  text-decoration: none;
  color: #fff; /* White color */
  margin-left: 10px; /* Adjusted for better spacing */
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  cursor: pointer;
  font-size: 16px; /* Reduced font size for better proportion */
  transition: color 0.3s ease;
  color: #fff; /* White color */
}

.nav-link:hover {
  color: #0682e8; /* Hover color */
  transform: translateY(-2px);
}

.user-icon {
  width: 20px;
  height: 20px;
}

/* Dropdown styles */
/* Navbar.css */

.dropdown-container {
  position: absolute;
  top: calc(100% + 8px); /* Position below the logout link */
  right: 0;
  background-color: #333; /* White background */
  border: 1px solid #e0e0e0; /* Lighter border color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for dropdown */
  z-index: 999; /* Ensure dropdown stays on top of other content */
  padding: 8px 0; /* Add padding to create space around the content */
  min-width: 160px; /* Set minimum width */
}

.dropdown-option {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px; /* Increased font size */
  color: #fffdfd; /* Dark text color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.dropdown-option:hover {
  background-color: #000000; /* Light background color on hover */
  opacity: 0.9; /* Slightly reduce opacity on hover */
}

.loader{
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  animation: spin infinite ease 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

