/* Checkout Styles */
.checkout-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.checkout-heading {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.product-information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.product-info {
    flex: 1;
}

.product-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.checkout-form {
    padding: 20px;
}

.checkout-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input-field {
    width: 35%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-label {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    display: block;
}

.checkbox {
    margin-right: 5px;
    vertical-align: middle;
}

.checkout-button {
    background-color: #1e90ff;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #0682e8;
}

.checkout-back-to-main-button {
    background-color: transparent;
    color: #75b5f6;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 11px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-left: -16px;
}

.checkout-back-to-main-button:hover {
    background-color: #d3d3d3;
}

.checkout-back-to-main-button:hover span {
    color: #328fec;
}
