.footer {
  margin-top: 15px;
  background-color: #333;
  width: 100%;
  color: #fff;
  padding: 9px;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 1000; /* Ensure it's above other content */
}

.footer .copyright {
  font-size: 12px;
}
